@{
    ViewData["Title"] = "Admin";
}

<h2 class="text-center">Admin Side</h2>
<br /> <br />
<textarea id="message" placeholder="Enter message" rows="4" class="form-control w-100" style="width: 100%; resize: vertical;"></textarea>
<div class="text-center mt-5">
    <button id="sendBtn" class="btn btn-success btn-lg px-5">
        Notify users
    </button>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#sendBtn').click(function() {
        console.log("Send button clicked!"); // debug line
        const msg = $('#message').val();
        const timestamp = new Date().toISOString();

        $.post('/Notification/Send', { Message: msg, Timestamp: timestamp })
        .done(function() { console.log('Notification sent'); })
       .fail(function() { console.error('Failed to send notification'); });
    });
</script>
