html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.carousel-item img {
    height: 320px;          /* Set consistent height */
    width: 100%;            /* Full width */
    object-fit: cover;      /* Crop edges instead of stretching */
    border-radius: 10px;    /* Optional, gives smooth edges */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Inverts white to black */
}

.product-card img {
    height: 286px;
    width: 286px;
    object-fit: cover;    /* crop to fit square */
    display: block;
}
